.produtos-compra{
figure{
    margin: 0;
    }

.produtos-conteudo{
h1{
    font-size: 32px;
    margin-top: 0px ;
}
p{
    font-size: 16px;
}

}
.produto-preco{
    strong{
        font-size: 40px;
        font-weight: bold;
    }

.d-block{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 4px
    
}
.form-select{
    margin-bottom: 20px;
}

.produtos-stars{
    svg{
        color: $amarelo;
    }

 

}
}

}